:root {
  /* Colors */
  --black: rgba(42, 32, 32, 1);
  --dark-slate-gray: rgba(62, 69, 74, 1);
  --dim-gray: rgba(85, 77, 109, 1);
  --maroon: rgba(95, 15, 15, 1);
  --silver: rgba(196, 196, 196, 1);
  --white: rgba(255, 255, 255, 1);

  /* Typographies */
  /* anton-20-regular */
  /* --anton-20-regular-family: "Anton";
  --anton-20-regular-size: 20px;
  --anton-20-regular-weight: 400;
  --anton-20-regular-line-height: normal;

  /* anton-40-regular */
  --anton-40-regular-family: "Anton";
  --anton-40-regular-size: 40px;
  --anton-40-regular-weight: 400;
  --anton-40-regular-line-height: normal;
}

.main {
  background-color: var(--white);
  /* overflow: hidden; */
  position: relative;
}
.relative-wrapper-one {
  position: absolute;
  left: 0;
  top: -9px;
}
.shapka-two {
  padding: 7.15px 0 6.44px;
  position: relative;
}
.shapka {
  width: 1440px;
  height: 89.41px;
  background-color: var(--black);
  position: relative;
}
.logo {
  padding: 0 144px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.rerad-1 {
  width: 144px;
  height: 144px;
  position: relative;
}
.re-rad {
  height: 42.2px;
  width: 109px;
  color: var(--white);
  display: flex;
  text-align: center;
  position: absolute;
  right: 0;
  top: center;
  bottom: 30.04px;
  letter-spacing: 2.8px;
  font-family: var(--anton-40-regular-family);
  font-size: var(--anton-40-regular-size);
  font-weight: var(--anton-40-regular-weight);
  line-height: var(--anton-40-regular-line-height);
}
.knopki {
  background-color: var(--maroon);
  padding: 8px 689px 9px 355px;
  position: absolute;
  left: 0;
  bottom: -61px;
  cursor: pointer;
  outline: none;
  userselect: none;

}

.rectangle-4 {
  width: 52px;
  height: 52px;
  background-color: var(--silver);
  margin-bottom: -52px;

}
.rectangle-4:hover{
  filter: brightness(130%);
}
.rectangle-4:active{
  filter: brightness(50%);
}
.rectangle-5 {
  width: 52px;
  height: 52px;
  background-color: var(--silver);
  margin-bottom: -52px;
  margin-left: 86px;
}
.rectangle-5:hover{
  filter: brightness(130%);
}
.rectangle-5:active{
  filter: brightness(50%);
}
.rectangle-6 {
  width: 52px;
  height: 52px;
  background-color: var(--silver);
  margin-bottom: -52px;
  margin-left: 172px;
}
.rectangle-6:hover{
  filter: brightness(130%);
}
.rectangle-6:active{
  filter: brightness(50%);
}
.rectangle-7 {
  width: 52px;
  height: 52px;
  background-color: var(--silver);
  margin-bottom: -52px;
  margin-left: 258px;
}
.rectangle-7:hover{
  filter: brightness(130%);
}
.rectangle-7:active{
  filter: brightness(50%);
}
.rectangle-8 {
  width: 52px;
  height: 52px;
  background-color: var(--silver);
  margin-left: 344px;
}
.rectangle-8:hover{
  filter: brightness(130%);
}
.rectangle-8:active{
  filter: brightness(50%);
}
.bokovaja {
  background-color: var(--dark-slate-gray);
  padding: 0 0 727px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.rectangle-2 {
  width: 303px;
  height: 62.83px;
  background-color: var(--dim-gray);
  margin-bottom: 15.17px;
}
.rectangle-9 {
  width: 65px;
  height: 65px;
  background-color: var(--silver);
  margin-left: 20px;
}
.relative-wrapper-two {
  position: absolute;
  left: 303px;
  top: 155px;
}
.snimok {
  background-color: var(--silver);
  padding: 89.31px 200px 90.31px 224px;
  position: relative;
}
.num-001-png-result-1 {
  width: 100%;
  height: 100%;
}
.image-info {
  height: 99px;
  width: 201px;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: calc(100% - 201px / 2);
  top: calc(10% - 99px / 2);
  letter-spacing: 1.2px;
  font-family: var(--anton-20-regular-family);
  font-size: var(--anton-20-regular-size);
  font-weight: var(--anton-20-regular-weight);
  line-height: var(--anton-20-regular-line-height);
}
.image-parameters {
  height: 99px;
  width: 197px;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: calc(15% - 197px / 2);
  top: calc(90% - 99px / 2);
  letter-spacing: 1.2px;
  font-family: var(--anton-20-regular-family);
  font-size: var(--anton-20-regular-size);
  font-weight: var(--anton-20-regular-weight);
  line-height: var(--anton-20-regular-line-height);
}

.image-size {
  height: 99px;
  width: 201px;
  color: var(--white);
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  left: calc(15% - 201px / 2);
  top: calc(10% - 99px / 2);
  letter-spacing: 1.2px;
  font-family: var(--anton-20-regular-family);
  font-size: var(--anton-20-regular-size);
  font-weight: var(--anton-20-regular-weight);
  line-height: var(--anton-20-regular-line-height);
}
